/* Usuwamy nie potrzebne defaultowe wlasciwosci */
@font-face {
  font-family: DosisRegular;
  src: url(../assets/fonts/Dosis-Regular.ttf);
}

/* Zadeklaruj zmienne z trzema kolorami */
:root {
  --first-color: #19191c;
  --second-color: #00c4d5;
  --white-color: white;
}

/* Zadanie wybierz wszystkie elemnty na stronie */
* > * {
  box-sizing: border-box;
  margin: 0;
}

#body--background {
  background-color: var(--first-color);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

/* Dotyczy panelu bocznego  */
#aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  font-family: DosisRegular;
  width: 248px;
  padding-top: 30px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--first-color);
  box-shadow: 7px 4px 36px #013034;
}

#aside > * {
  margin-bottom: 40px;
}

#aside #dates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aside #dates p {
  border: 2px solid var(--second-color);
  text-align: center;
  padding: 10px;
  margin: 13px 0;
  width: 100%;
  border-radius: 10px;
}
#aside #dates p:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

/* Nagłówek i nawigacja */
#header h1 {
  margin: 50px 0px;
  color: var(--white-color);
  font-family: DosisRegular;
  font-size: 48px;
}

#nav {
  display: flex;
  justify-items: center;
  border-top: 2px solid var(--second-color);
  font-family: DosisRegular;
  font-size: 24px;
}

#nav div {
  display: flex;
  width: 120px;
  height: 47.5px;
  align-items: center;
  justify-content: center;
}

#nav div a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
}

.active {
  background: var(--second-color);
  border: 1.5px solid var(--second-color);
  color: var(--white-color);
  box-shadow: 4px 4px 11px var(--second-color);
  border-radius: 0px 0px 5px 5px;
}

/* Główny dynamiczny kontent */
#main {
  margin-top: 130px;
  margin-left: 15px;
  color: var(--white-color);
}
